In [2]:
import os

os.getcwd()

'C:\\Users\\Umar\\Desktop\\team py'

In [3]:
import pandas as pd
from pandas import DataFrame
import numpy
import matplotlib.pyplot as plt
import datetime
import seaborn

In [4]:
#Reading / using the orginal file not the modified by excel
df=pd.read_csv('Team PY Motor_Vehicle data.csv')
df.head(5)

,ACCIDENT DATE,ACCIDENT TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,07/01/2019,17:30,QUEENS,11363.0,NaN,NaN,NaN,DOUGLASTON PARKWAY,CHURCH STREET,NaN,...,Unspecified,NaN,NaN,NaN,4163292,Sedan,Dump,NaN,NaN,NaN
1,07/01/2019,20:15,NaN,NaN,40.804700,-73.91243,"(40.8047, -73.91243)",BRUCKNER BOULEVARD,EAST 138 STREET,NaN,...,NaN,NaN,NaN,NaN,4162924,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
2,07/01/2019,23:30,NaN,NaN,40.845467,-73.92813,"(40.845467, -73.92813)",CROSS BRONX EXPY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4163170,horse,Sedan,NaN,NaN,NaN
3,07/01/2019,3:00,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4162308,Sedan,Sedan,NaN,NaN,NaN
4,07/01/2019,9:15,NaN,NaN,NaN,NaN,NaN,ROCKAWAY BEACH BOULEVARD,RIIS PARK,NaN,...,Backing Unsafely,NaN,NaN,NaN,4162512,Sedan,Box Truck,NaN,NaN,NaN

In [5]:
# data is a dataframe from pandas

print(len(df))
print(len(df.columns))

18412
29

In [6]:
df.columns

Index(['ACCIDENT DATE', 'ACCIDENT TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [7]:
#Replace the coloumns head:
df.rename(columns = {'ACCIDENT DATE':'DATE','ACCIDENT TIME':'TIME','CONTRIBUTING FACTOR VEHICLE 1':'CONTRIBUTING FACTOR','VEHICLE TYPE CODE 1':'VEHICLE TYPE'}, inplace = True) 

df.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [8]:
# Cleaned DataSet:

df2=pd.DataFrame(df,columns=['DATE','TIME','BOROUGH','CONTRIBUTING FACTOR','VEHICLE TYPE','NUMBER OF PERSONS INJURED','NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED','NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED','NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED','NUMBER OF MOTORIST KILLED'])
df2.head()

,DATE,TIME,BOROUGH,CONTRIBUTING FACTOR,VEHICLE TYPE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED
0,07/01/2019,17:30,QUEENS,Failure to Yield Right-of-Way,Sedan,0,0,0,0,0,0,0,0
1,07/01/2019,20:15,NaN,Unspecified,Station Wagon/Sport Utility Vehicle,0,0,0,0,0,0,0,0
2,07/01/2019,23:30,NaN,Unspecified,horse,0,0,0,0,0,0,0,0
3,07/01/2019,3:00,NaN,Alcohol Involvement,Sedan,1,0,0,0,0,0,1,0
4,07/01/2019,9:15,NaN,Other Vehicular,Sedan,0,0,0,0,0,0,0,0

In [9]:
#length of Data and coloumns we are using

print(len(df2))
print(len(df2.columns))

18412
13

In [10]:
df2.dtypes

DATE                             object
TIME                             object
BOROUGH                          object
CONTRIBUTING FACTOR              object
VEHICLE TYPE                     object
NUMBER OF PERSONS INJURED         int64
NUMBER OF PERSONS KILLED          int64
NUMBER OF PEDESTRIANS INJURED     int64
NUMBER OF PEDESTRIANS KILLED      int64
NUMBER OF CYCLIST INJURED         int64
NUMBER OF CYCLIST KILLED          int64
NUMBER OF MOTORIST INJURED        int64
NUMBER OF MOTORIST KILLED         int64
dtype: object

In [11]:
#Q1) Which of the five boroughs has the highest collision in july?


df2['sum-up of PERSONS incidents']=df2['NUMBER OF PERSONS INJURED']+df2['NUMBER OF PERSONS KILLED']
df2['sum-up of PEDESTRIAN incidents']=df2['NUMBER OF PEDESTRIANS INJURED']+df2['NUMBER OF PEDESTRIANS KILLED']
df2['sum-up of CYCLIST incidents'] = df2['NUMBER OF CYCLIST INJURED'] + df2['NUMBER OF CYCLIST KILLED']
df2['sum-up of MOTORIST incidents']= df2['NUMBER OF MOTORIST INJURED']+df2['NUMBER OF MOTORIST KILLED']

#Summed All incidents into one whole incident
df2['Total Incidents'] = df2['sum-up of PERSONS incidents']+df2['sum-up of PEDESTRIAN incidents']+df2['sum-up of CYCLIST incidents']+df2['sum-up of MOTORIST incidents']

#Put All the Rows Together
df2[['BOROUGH','sum-up of PERSONS incidents','sum-up of PEDESTRIAN incidents','sum-up of CYCLIST incidents','sum-up of MOTORIST incidents','Total Incidents']].head(10)

df2.groupby(['BOROUGH'])['Total Incidents'].sum()

BOROUGH
BRONX            1258
BROOKLYN         2598
MANHATTAN         982
QUEENS           1954
STATEN ISLAND     222
Name: Total Incidents, dtype: int64

In [ ]:
a= %matplotlib inline
a=df2.plot(kind='bar')

In [12]:
#Q2) Which Borough has the highest pedestrian injury for the month of July?

df2.groupby('BOROUGH')['NUMBER OF PEDESTRIANS INJURED'].sum()

BOROUGH
BRONX            105
BROOKLYN         184
MANHATTAN        121
QUEENS            94
STATEN ISLAND     19
Name: NUMBER OF PEDESTRIANS INJURED, dtype: int64

In [13]:
#Q3) Which borough has the highest count for pedestrian injury or death due to intoxicated drivers?


data2=df2.loc[df2['CONTRIBUTING FACTOR'].str.contains('Alcohol Involvement',na = False)]
data2.groupby('BOROUGH')['CONTRIBUTING FACTOR'].count()

BOROUGH
BRONX            24
BROOKLYN         38
MANHATTAN        18
QUEENS           38
STATEN ISLAND    10
Name: CONTRIBUTING FACTOR, dtype: int64

In [14]:
#Q4) Which borough has the most collisions due to Passing or Improper Lane Usage?
dc={}
for index, row in df2.iterrows():
    if row['CONTRIBUTING FACTOR'] == 'Passing or Lane Usage Improper':
        dc[index]=[row['CONTRIBUTING FACTOR'], row['BOROUGH']]
df3=pd.DataFrame.from_dict(dc, orient='index')
df3.columns=['CONTRIBUTING FACTOR','BOROUGH']
df3.groupby('BOROUGH')['CONTRIBUTING FACTOR'].value_counts()

BOROUGH        CONTRIBUTING FACTOR
BRONX          Passing or Lane Usage Improper     47
BROOKLYN       Passing or Lane Usage Improper    162
MANHATTAN      Passing or Lane Usage Improper    156
QUEENS         Passing or Lane Usage Improper    115
STATEN ISLAND  Passing or Lane Usage Improper      9
Name: CONTRIBUTING FACTOR, dtype: int64

In [15]:
#Q5) Which vehicle Type has the highest collision rate?

df2['sum-up of PERSONS incidents']=df2['NUMBER OF PERSONS INJURED']+df2['NUMBER OF PERSONS KILLED']
df2['sum-up of PEDESTRIAN incidents']=df2['NUMBER OF PEDESTRIANS INJURED']+df2['NUMBER OF PEDESTRIANS KILLED']
df2['sum-up of CYCLIST incidents'] = df2['NUMBER OF CYCLIST INJURED'] + df2['NUMBER OF CYCLIST KILLED']
df2['sum-up of MOTORIST incidents']= df2['NUMBER OF MOTORIST INJURED']+df2['NUMBER OF MOTORIST KILLED']

df2.groupby(['VEHICLE TYPE'])['sum-up of PERSONS incidents','sum-up of PEDESTRIAN incidents','sum-up of CYCLIST incidents','sum-up of MOTORIST incidents'].sum()

,sum-up of PERSONS incidents,sum-up of PEDESTRIAN incidents,sum-up of CYCLIST incidents,sum-up of MOTORIST incidents
VEHICLE TYPE,,,,
3-Door,1,0,0,1
4 dr sedan,0,0,0,0
AMBU,1,0,0,1
AMBUL,0,0,0,0
APPOR,1,0,0,1
Ambul,0,0,0,0
Ambulance,20,2,2,16
Armored Truck,0,0,0,0
BOX T,0,0,0,0
BS,0,0,0,0
BULLD,1,0,0,1
Beverage Truck,0,0,0,0
Bike,191,33,156,2
Box Truck,69,3,7,59
Box t,1,0,0,1
Bulk Agriculture,0,0,0,0
Bus,60,10,7,43
Carry All,2,0,0,2
Chassis Cab,0,0,0,0
Concrete Mixer,3,1,2,0
Convertible,15,2,0,13
DELV,0,0,0,0
DIRT,1,1,0,0
DUMP,1,0,0,1
Delv,0,0,0,0
Dump,10,1,1,8
E SCO,1,1,0,0
E-Bik,7,2,0,5
E-Sco,5,1,0,4
ELECT,3,1,0,2
...,...,...,...,...
Tow Truck / Wrecker,4,1,1,2
Tractor Truck Diesel,18,0,0,18
Tractor Truck Gasoline,5,0,0,5
Trail,0,0,0,0
UHAUL,0,0,0,0
UNKNO,1,0,1,0
US PO,0,0,0,0
USPS,1,0,1,0
VAN T,0,0,0,0
Van,38,9,4,25
Van T,0,0,0,0
WHITE,0,0,0,0
Well Driller,0,0,0,0
ambul,0,0,0,0
back,0,0,0,0
box t,1,0,0,1
elect,1,1,0,0
excav,0,0,0,0
firet,0,0,0,0
golf,1,1,0,0
horse,0,0,0,0
motor,1,0,0,1
range,0,0,0,0
scoot,2,0,0,2
stree,0,0,0,0
tow,0,0,0,0
trail,0,0,0,0
trl,0,0,0,0
utili,0,0,0,0
van,6,0,0,6